<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="login-form">
    <h1>Login Form</h1>
    <form action="/controllers/loginController" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit">
    </form>
    <a href='/signup'>register here</a>
  </div>
</body>

</html>