<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Change Password</title>
  
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="login-form">
    <h1>Setting Form</h1>
    <form action="/controllers/settingController" method="POST">
      <input type="password" name="new_pass" placeholder="New-Password" required>
      <input type="password" name="re_new_pass" placeholder="Re-enter" required>
      <input type="submit">
    </form>
  </div>
</body>

</html>