<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Signup Form</title>
 
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="login-form">
    <h1>Sign-up Form</h1>
    <form action="controllers/registerController" method="POST">
      <input type="text" name="user" placeholder="Username" required>
      <input type="text" name="email" placeholder="Email-id" required>
      <input type="password" name="pass" placeholder="Password" required>

      <input type="submit">
    </form>
  </div>
</body>

</html>